.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: bold;
}

.screen-header__icons span {
  margin-left: 25px;
}
.fa-cog {
  position: relative;
}

.screen-header__cog-dot {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

@keyframes RotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: RotateCog 1s linear infinite;
}
